header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: hotpink;
    nav {
        ul {
            display: flex;
            justify-content: center;
            li {
                margin: 10px;
            }
        }
    }
    div.hero {
        height: 90vh;
        background-color: indianred;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 720px) {
    header {
        div.hero {
            h1 {
                text-align: center;
                line-height: 90px;
                font-size: 4.5rem;
            }
        }
    }
}

@media (max-width: 480px) {
    header {
        height: 100vh;
        div.hero {
            h1 {
                text-align: center;
                line-height: 70px;
                font-size: 3.5rem;
            }
            span {
                font-size: 20px;
            }
        }
    }
}