@import "setup";
@import "header";
@import "footer";
@import "main";

@font-face {
    font-family: headingFont;
    src: url(/assets/Poppins-Bold.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(/assets/PPTelegraf-Regular.ttf);
}

@font-face {
    font-family: accentFont;
    src: url(/assets/PPNeueMachina-Light.ttf);
}

@font-face {
    font-family: accentFontBold;
    src: url(/assets/PPNeueMontreal-Bold.ttf);
}

/* ======== TYPOGRAPHY ======== */

html {
    font-size: 125%;
    line-height: 32px;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-transform: uppercase;
    font-family: headingFont;
}

label {
    font-family: accentFont;
}


span {
    font-family: accentFont;
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-family: bodyFont;
    font-size: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
}

/* ================ GENERAL ================== */

ul {
    font-family: accentFont;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button,
input[type="submit"],
input[type="reset"],
.link-btn {
    font-family: accentFont;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 0;
    padding: 15px 30px;
    background-color: rgb(184, 184, 184);
    background: linear-gradient(rgba(124, 124, 124, 0.25), rgba(51, 51, 51, 0.25));
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.link-btn:hover {
    background: linear-gradient(rgba(129, 129, 129, 0.25), rgba(0, 0, 0, 0.25));
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
}

textarea {
    resize: none;
    border: 0px;
}

input[type="text"] {
    border: none;
}
