html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: hotpink;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav ul li {
  margin: 10px;
}
header div.hero {
  height: 90vh;
  background-color: indianred;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  header div.hero h1 {
    text-align: center;
    line-height: 90px;
    font-size: 4.5rem;
  }
}
@media (max-width: 480px) {
  header {
    height: 100vh;
  }
  header div.hero h1 {
    text-align: center;
    line-height: 70px;
    font-size: 3.5rem;
  }
  header div.hero span {
    font-size: 20px;
  }
}
footer {
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ada7ff;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: salmon;
  height: 800px;
  width: 90vw;
  padding: 20px;
}
footer form .name, footer form .email, footer form .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  margin-top: 15px;
}
footer form .name label, footer form .email label, footer form .comments label {
  margin-bottom: 7px;
  text-align: start;
}
footer form .name input[type=text], footer form .email input[type=text], footer form .comments input[type=text] {
  width: 100%;
  height: 50px;
}
footer form .name textarea, footer form .email textarea, footer form .comments textarea {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
footer form .submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer form .submit-form input[type=submit],
footer form .submit-form input[type=reset] {
  margin: 2%;
  width: 250px;
}
footer h2 {
  margin: 20px;
}

@media (max-width: 1080px) {
  footer form .name, footer form .email, footer form .comments {
    width: 90%;
  }
}
@media (max-width: 720px) {
  footer {
    height: 1000px;
  }
  footer form {
    height: 900px;
  }
  footer form .submit-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  footer form .submit-form input[type=submit],
footer form .submit-form input[type=reset] {
    width: 100%;
  }
}
@media (max-width: 480px) {
  footer form h2 {
    line-height: 45px;
    margin-bottom: 0px;
  }
}
main .about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ada7ff;
}
main .about .img-container {
  width: 500px;
  background-color: indigo;
}
main .about .text-container {
  padding: 50px;
  margin: 20px;
  width: 800px;
  background-color: lawngreen;
}
main .about .text-container h2 {
  margin-bottom: 40px;
}
main .about .text-container .link-btn {
  margin-top: 40px;
  width: 400px;
}
main .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: purple;
  height: 100vh;
}
main .projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1500px;
  background-color: lime;
}
main .projects .projects-container .project {
  margin: 10px;
  width: 700px;
  height: 450px;
  background-color: lightsalmon;
}
main .projects .projects-container .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .skills {
  height: 80vh;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .skills .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: slategrey;
  width: 90%;
  height: 450px;
}
main .skills .languages .language-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 150px;
  background-color: seagreen;
  color: white;
}
main .skills .languages .language-container i {
  font-size: 100px;
}
main .skills .languages .language-container span {
  font-size: 1rem;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1500px) {
  main .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1250px;
  }
  main .about .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 550px;
    width: 90%;
  }
  main .about .text-container h2 {
    margin: 10px;
  }
  main .about .text-container .link-btn {
    margin: 0px;
  }
  main .projects {
    height: 980px;
  }
  main .projects .projects-container {
    width: 100%;
    height: 1000px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .projects .projects-container .project {
    width: 45%;
    background-color: aqua;
  }
  main .skills {
    height: 70vh;
  }
  main .skills h2 {
    margin: 20px;
  }
}
@media (max-width: 1080px) {
  main .skills {
    height: 700px;
  }
  main .skills .languages {
    height: 500px;
  }
  main .about {
    height: 1350px;
  }
  main .about .text-container {
    height: 700px;
  }
}
@media (max-width: 885px) {
  main .about .text-container .about-me {
    width: 100%;
    background-color: cornflowerblue;
    overflow-y: scroll;
    margin: 30px;
  }
  main .projects {
    height: 1700px;
  }
  main .projects .projects-container {
    width: 100%;
    height: 1600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .projects .projects-container .project {
    width: 85%;
    background-color: purple;
  }
  main .skills {
    height: 900px;
  }
  main .skills .languages {
    height: 700px;
  }
}
@media (max-width: 720px) {
  main .about .text-container .link-btn {
    width: 90%;
  }
  main .skills {
    height: 700px;
  }
  main .skills .languages {
    height: 500px;
  }
  main .skills .languages .language-container {
    width: 100px;
    height: 150px;
  }
  main .skills .languages .language-container i {
    font-size: 70px;
  }
}
@media (max-width: 480px) {
  main .skills {
    height: 800px;
  }
  main .skills .languages {
    height: 650px;
  }
  main .skills .languages .language-container {
    width: 85px;
    height: 135px;
  }
  main .skills .languages .language-container i {
    font-size: 60px;
  }
  main .skills .languages .language-container span {
    font-size: 13px;
  }
}
@font-face {
  font-family: headingFont;
  src: url(/assets/Poppins-Bold.ttf);
}
@font-face {
  font-family: bodyFont;
  src: url(/assets/PPTelegraf-Regular.ttf);
}
@font-face {
  font-family: accentFont;
  src: url(/assets/PPNeueMachina-Light.ttf);
}
@font-face {
  font-family: accentFontBold;
  src: url(/assets/PPNeueMontreal-Bold.ttf);
}
/* ======== TYPOGRAPHY ======== */
html {
  font-size: 125%;
  line-height: 32px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
  font-family: headingFont;
}

label {
  font-family: accentFont;
}

span {
  font-family: accentFont;
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-family: bodyFont;
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

/* ================ GENERAL ================== */
ul {
  font-family: accentFont;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button,
input[type=submit],
input[type=reset],
.link-btn {
  font-family: accentFont;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
  border: 0;
  padding: 15px 30px;
  background-color: cadetblue;
  display: block;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.link-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 140, 11, 0.25)), to(rgba(221, 140, 11, 0.25)));
  background: linear-gradient(rgba(221, 140, 11, 0.25), rgba(221, 140, 11, 0.25));
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

textarea {
  resize: none;
  border: 0px;
}

input[type=text] {
  border: none;
}